body{
    margin: 0px;
    padding: 0px;
    font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}
a,a:hover{
    text-decoration: none;
}
.menu-li{
    padding-top: 10px;
}
.menu-li a{
    padding: 0px 21px 0px 21px;
    display: block;
    color: #333;
    font-size: 20px;
}
.menu-li.active a{
    background-color: #a4a4a4 !important;
}
.menu-li li a:hover{
	color:#ada071;
}

.custome-hr{
	width: 5em;
    background-color: black;
    border: 0;
    height: 1px;
}
footer{
	width:100%;
	background:url(../img/footer.png) no-repeat center;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
}
.footer-content{
	overflow:hidden;
	margin:0px auto;
}

.copyright{
	text-align:center;
	color:#000;
	padding:50px 0px 100px 0px;
} 
.w100{
	width: 100%;
	height: 40%;
}
.icon-bar{
	background-color: #000;
}